.e-container {
hr {
    color: #00ff00;
    height: 3px;
    margin: 0px;
    width: 250px;
  }

  .e-icon {
    border-radius: 20px;
    width: 40px;
  }
  a:hover {
      text-decoration: underline;
  }
}

